.calc-row {
    height: 100vh;
    font-family: 'Share Tech Mono', monospace;
}

.input-window {
    text-align: end;
    font-size: x-large;
}

.card {
    background-color: #000;
}
.row.no-gutters .col {
    padding: 1px;
}
